---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import ProjetCard from '../projets/ProjetCard.astro'

// Fetch all projects from the content collection
const projects = await getCollection('projets')
---

<Layout title="Projets de Nirina Rabeson">
  <h1>Mes projets</h1>
  <p>
    Peut-être la partie la plus <i>portfolio</i> de ce site est ici. Vous pourrez
    voir les différents projets et produits que je maintiens à gauche et à droite.
  </p>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-8">
    {
      projects.map((project) => (
        <ProjetCard
          title={project.data.title}
          description={project.data.description}
          screenshot={project.data.screenshot}
          url={project.data.url}
          technologies={project.data.technologies}
        />
      ))
    }
  </div>
  <div class="mt-12 p-6 rounded-lg">
    <h3>Source ?</h3>
    <p>
      Tous les projets sont regroupés dans un monorepo :
      <a href="https://github.com/seboran/tolstoi" target="_blank"
        >https://github.com/seboran/tolstoi</a
      >
    </p>
    <p>
      <em
        >Stack technique du monorepo : Vercel, Netlify, turborepo, eslint, pnpm
        workspaces, renovate, devcontainers, gitpod (WIP), GitHub actions</em
      >
    </p>
  </div>
</Layout>
