---
interface Props {
  title: string
  image?: string
}

const { title, image = 'https://www.nirinarabeson.fr/cover.png' } = Astro.props
---

<meta name="fediverse:creator" content="@nirina@nirinarabeson.fr" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta lang="fr-FR" />
<title>{title}</title>
<meta
  property="og:image:secure_url"
  content={image}
/>
<meta property="og:image" content={image} />
<meta property="og:image:url" content={image} />
<meta name="twitter:site" content="@nirinarabeson.fr" />
<meta name="twitter:title" content={title} />
<meta property="og:title" content={title} />
<meta name="twitter:image" content={image} />
<meta property="og:type" content="homepage" />
<meta name="author" content="Nirina Rabeson" />
<meta
  name="twitter:description"
  content="Site de Nirina Rabeson. Je parle de Javascript, de musique, de technologie le tout avec mon humour à moi et mes propres opinions."
/>
<meta
  property="og:description"
  content="Site de Nirina Rabeson. Je parle de Javascript, de musique, de technologie le tout avec mon humour à moi et mes propres opinions."
/>
<meta
  name="description"
  content="Site de Nirina Rabeson. Je parle de Javascript, de musique, de technologie le tout avec mon humour à moi et mes propres opinions."
/>
<link
  rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>"
/>
