---
import { getEntry, render } from 'astro:content'
import DesignTitle from '../design/DesignTitle.astro'
export interface Props {
  projectId: string
}

const { projectId } = Astro.props

const entry = await getEntry('projets', projectId)

if (!entry) {
  // Handle Error, for example:
  throw new Error(`Could not find project ${projectId}`)
}

const { title, description, url, technologies = [] } = entry.data

const { Content } = await render(entry)
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="rounded-lg overflow-hidden shadow-md hover:scale-[1.02] transition-transform duration-300 h-full flex flex-col bg-white dark:bg-gray-800"
>
  <div class="overflow-hidden bg-white">
    <Content />
  </div>
  <div class="flex flex-col flex-1 p-4 content-between">
    <div class="text-dark dark:text-white">
      <DesignTitle>{title}</DesignTitle>
      <p>{description}</p>
    </div>
    {
      technologies.length > 0 && (
        <div class="flex flex-wrap gap-2 my-4">
          {technologies.map((tech) => (
            <span class="bg-slate-100 px-3 py-1 rounded-full text-sm">
              {tech}
            </span>
          ))}
        </div>
      )
    }
    <button
      class="mt-auto inline-block bg-blue-500 text-white px-4 py-2 rounded font-medium transition-colors hover:bg-blue-600 hover:cursor-pointer"
    >
      Voir le projet
    </button>
  </div>
</a>
